.title {
  color: #dd6e0d;
}

.border {
  width: 60px;
  border-bottom: 1px solid #ff7600;
}

.or {
  color: #ff7600;
}

.login__button {
  background-color: #ff7600;
  color: rgb(233, 233, 233);
  font-weight: 700;
  border-radius: 30px;
}

.google_button {
  background-color: #fff;
  border-radius: 30px;
}

.google_logo {
  height: 20px;
  margin-right: 10px;
}
